In [2]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

In [2]:
happiness_cities = pd.read_csv("Happiest_Cities_consolidated.csv")
happiness_cities.head()

   Overall Rank (1=Best)              City State  Total Score
0                      1             Plano    TX        72.30
1                      2            Irvine    CA        71.86
2                      3           Madison    WI        71.81
3                      4           Fremont    CA        71.17
4                      5  Huntington Beach    CA        69.74

In [3]:
happiness_cities["Lat"] = ""
happiness_cities["Lng"] = ""
happiness_cities.head()

   Overall Rank (1=Best)              City State  Total Score Lat Lng
0                      1             Plano    TX        72.30
1                      2            Irvine    CA        71.86
2                      3           Madison    WI        71.81
3                      4           Fremont    CA        71.17
4                      5  Huntington Beach    CA        69.74

In [4]:
# Google API Key
from config import gkey

In [5]:
params = {"key": gkey}

for index, row in happiness_cities.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    city = row['City']
    state = row['State']

    # update address key value
    params['address'] = f"{city},{state}"

    # make request
    cities_lat_lng = requests.get(base_url, params=params)
    
    # print the cities_lat_lng url, avoid doing for public github repos in order to avoid exposing key
    # print(cities_lat_lng.url)
    
    # convert to json
    cities_lat_lng = cities_lat_lng.json()

    happiness_cities.loc[index, "Lat"] = cities_lat_lng["results"][0]["geometry"]["location"]["lat"]
    happiness_cities.loc[index, "Lng"] = cities_lat_lng["results"][0]["geometry"]["location"]["lng"]

# Visualize to confirm lat lng appear
happiness_cities

,Overall Rank (1=Best),City,State,Total Score,Lat,Lng
0,1,Plano,TX,72.30,33.0198,-96.6989
1,2,Irvine,CA,71.86,33.6846,-117.827
2,3,Madison,WI,71.81,43.0731,-89.4012
3,4,Fremont,CA,71.17,37.5485,-121.989
4,5,Huntington Beach,CA,69.74,33.6595,-117.999
5,6,Fargo,ND,69.57,46.8772,-96.7898
6,7,Grand Prairie,TX,69.30,32.746,-96.9978
7,8,San Jose,CA,68.90,37.3382,-121.886
8,9,Scottsdale,AZ,68.24,33.4942,-111.926
9,10,San Francisco,CA,67.53,37.7749,-122.419
10,11,Bismarck,ND,67.38,46.8083,-100.784
11,12,Overland Park,KS,67.37,38.9822,-94.6708
12,13,Santa Rosa,CA,67.18,38.4404,-122.714
13,14,Austin,TX,67.16,30.2672,-97.7431
14,15,Sioux Falls,SD,66.97,43.5473,-96.7283
15,16,Pearl City,HI,66.77,21.3972,-157.973
16,17,Glendale,CA,66.25,34.1425,-118.255
17,18,San Diego,CA,66.01,32.7157,-117.161
18,19,St. Paul,MN,65.79,44.9537,-93.09
19,20,Charleston,SC,65.48,32.7765,-79.9311
20,21,Gilbert,AZ,65.07,33.3528,-111.789
21,22,Anaheim,CA,65.02,33.8366,-117.914
22,23,Raleigh,NC,64.99,35.7796,-78.6382
23,24,Cape Coral,FL,64.96,26.5629,-81.9495
24,25,Cedar Rapids,IA,64.90,41.9779,-91.6656
25,26,Minneapolis,MN,64.82,44.9778,-93.265
26,27,Chula Vista,CA,64.54,32.6401,-117.084
27,28,Pembroke Pines,FL,64.51,26.0078,-80.2963
28,29,Honolulu,HI,64.21,21.3069,-157.858
29,30,Des Moines,IA,64.17,41.5868,-93.625
...,...,...,...,...,...,...
152,153,New Orleans,LA,47.57,29.9511,-90.0715
153,154,North Las Vegas,NV,47.19,36.1989,-115.118
154,155,Las Vegas,NV,47.02,36.1699,-115.14
155,156,Tulsa,OK,46.50,36.154,-95.9928
156,157,Wilmington,DE,46.32,39.7447,-75.5484
157,158,Providence,RI,45.81,41.824,-71.4128
158,159,New Haven,CT,45.56,41.3083,-72.9279
159,160,Montgomery,AL,45.48,32.3792,-86.3077
160,161,Baltimore,MD,44.75,39.2904,-76.6122
161,162,Jackson,MS,44.70,32.2988,-90.1848
162,163,Shreveport,LA,44.59,32.5252,-93.7502
163,164,Memphis,TN,44.45,35.1495,-90.049
164,165,Philadelphia,PA,44.27,39.9526,-75.1652
165,166,Columbus,GA,44.27,32.461,-84.9877
166,167,Fayetteville,NC,44.17,35.0527,-78.8784
167,168,Akron,OH,44.05,41.0814,-81.519
168,169,Cincinnati,OH,43.50,39.1031,-84.512
169,170,Fort Smith,AR,43.33,35.3859,-94.3985
170,171,St. Louis,MO,42.85,38.627,-90.1994
171,172,Augusta,GA,42.38,33.4735,-82.0105
172,173,Mobile,AL,42.22,30.6954,-88.0399
173,174,Newark,NJ,41.86,40.7357,-74.1724
174,175,Huntington,WV,41.58,38.4192,-82.4452
175,176,Little Rock,AR,41.40,34.7465,-92.2896
176,177,Gulfport,MS,41.06,30.3674,-89.0928
177,178,Cleveland,OH,40.81,41.4993,-81.6944
178,179,Birmingham,AL,40.78,33.5186,-86.8104
179,180,Charleston,WV,39.68,38.3498,-81.6326
180,181,Toledo,OH,39.48,41.6528,-83.5379
181,182,Detroit,MI,29.19,42.3314,-83.0458

In [6]:
happiness_cities.to_csv("Happiness_Cities_withLL.csv", index=False)

In [29]:
happiness_cities = pd.read_csv("Happiness_Cities_withLL.csv")

happiness_cities.head()

,Overall Rank (1=Best),City,State,Total Score,Lat,Lng
0,1,Plano,TX,72.30,33.019843,-96.698886
1,2,Irvine,CA,71.86,33.684567,-117.826505
2,3,Madison,WI,71.81,43.073052,-89.401230
3,4,Fremont,CA,71.17,37.548540,-121.988583
4,5,Huntington Beach,CA,69.74,33.659484,-117.998803

In [30]:
len(happiness_cities)

182

In [ ]:
182*182

In [56]:
from datetime import datetime
import time

In [57]:
datelist = pd.date_range(datetime(2018, 11, 2), datetime(2018, 12, 31)).tolist()

dateUTC = [int(time.mktime(t.timetuple())) for t in datelist]

dateUTC

[1541134800,
 1541221200,
 1541307600,
 1541397600,
 1541484000,
 1541570400,
 1541656800,
 1541743200,
 1541829600,
 1541916000,
 1542002400,
 1542088800,
 1542175200,
 1542261600,
 1542348000,
 1542434400,
 1542520800,
 1542607200,
 1542693600,
 1542780000,
 1542866400,
 1542952800,
 1543039200,
 1543125600,
 1543212000,
 1543298400,
 1543384800,
 1543471200,
 1543557600,
 1543644000,
 1543730400,
 1543816800,
 1543903200,
 1543989600,
 1544076000,
 1544162400,
 1544248800,
 1544335200,
 1544421600,
 1544508000,
 1544594400,
 1544680800,
 1544767200,
 1544853600,
 1544940000,
 1545026400,
 1545112800,
 1545199200,
 1545285600,
 1545372000,
 1545458400,
 1545544800,
 1545631200,
 1545717600,
 1545804000,
 1545890400,
 1545976800,
 1546063200,
 1546149600,
 1546236000]

In [58]:
happiness_cities_full = happiness_cities.copy()

for x in range(len(dateUTC) -1):
    happiness_cities_full = happiness_cities_full.append(happiness_cities.copy())

In [59]:
happiness_cities_full = happiness_cities_full.sort_values("City").reset_index(drop=True)

happiness_cities_full.head(100)

,Overall Rank (1=Best),City,State,Total Score,Lat,Lng
0,168,Akron,OH,44.05,41.081445,-81.519005
1,168,Akron,OH,44.05,41.081445,-81.519005
2,168,Akron,OH,44.05,41.081445,-81.519005
3,168,Akron,OH,44.05,41.081445,-81.519005
4,168,Akron,OH,44.05,41.081445,-81.519005
5,168,Akron,OH,44.05,41.081445,-81.519005
6,168,Akron,OH,44.05,41.081445,-81.519005
7,168,Akron,OH,44.05,41.081445,-81.519005
8,168,Akron,OH,44.05,41.081445,-81.519005
9,168,Akron,OH,44.05,41.081445,-81.519005
10,168,Akron,OH,44.05,41.081445,-81.519005
11,168,Akron,OH,44.05,41.081445,-81.519005
12,168,Akron,OH,44.05,41.081445,-81.519005
13,168,Akron,OH,44.05,41.081445,-81.519005
14,168,Akron,OH,44.05,41.081445,-81.519005
15,168,Akron,OH,44.05,41.081445,-81.519005
16,168,Akron,OH,44.05,41.081445,-81.519005
17,168,Akron,OH,44.05,41.081445,-81.519005
18,168,Akron,OH,44.05,41.081445,-81.519005
19,168,Akron,OH,44.05,41.081445,-81.519005
20,168,Akron,OH,44.05,41.081445,-81.519005
21,168,Akron,OH,44.05,41.081445,-81.519005
22,168,Akron,OH,44.05,41.081445,-81.519005
23,168,Akron,OH,44.05,41.081445,-81.519005
24,168,Akron,OH,44.05,41.081445,-81.519005
25,168,Akron,OH,44.05,41.081445,-81.519005
26,168,Akron,OH,44.05,41.081445,-81.519005
27,168,Akron,OH,44.05,41.081445,-81.519005
28,168,Akron,OH,44.05,41.081445,-81.519005
29,168,Akron,OH,44.05,41.081445,-81.519005
...,...,...,...,...,...,...
70,132,Albuquerque,NM,51.15,35.084386,-106.650422
71,132,Albuquerque,NM,51.15,35.084386,-106.650422
72,132,Albuquerque,NM,51.15,35.084386,-106.650422
73,132,Albuquerque,NM,51.15,35.084386,-106.650422
74,132,Albuquerque,NM,51.15,35.084386,-106.650422
75,132,Albuquerque,NM,51.15,35.084386,-106.650422
76,132,Albuquerque,NM,51.15,35.084386,-106.650422
77,132,Albuquerque,NM,51.15,35.084386,-106.650422
78,132,Albuquerque,NM,51.15,35.084386,-106.650422
79,132,Albuquerque,NM,51.15,35.084386,-106.650422
80,132,Albuquerque,NM,51.15,35.084386,-106.650422
81,132,Albuquerque,NM,51.15,35.084386,-106.650422
82,132,Albuquerque,NM,51.15,35.084386,-106.650422
83,132,Albuquerque,NM,51.15,35.084386,-106.650422
84,132,Albuquerque,NM,51.15,35.084386,-106.650422
85,132,Albuquerque,NM,51.15,35.084386,-106.650422
86,132,Albuquerque,NM,51.15,35.084386,-106.650422
87,132,Albuquerque,NM,51.15,35.084386,-106.650422
88,132,Albuquerque,NM,51.15,35.084386,-106.650422
89,132,Albuquerque,NM,51.15,35.084386,-106.650422
90,132,Albuquerque,NM,51.15,35.084386,-106.650422
91,132,Albuquerque,NM,51.15,35.084386,-106.650422
92,132,Albuquerque,NM,51.15,35.084386,-106.650422
93,132,Albuquerque,NM,51.15,35.084386,-106.650422
94,132,Albuquerque,NM,51.15,35.084386,-106.650422
95,132,Albuquerque,NM,51.15,35.084386,-106.650422
96,132,Albuquerque,NM,51.15,35.084386,-106.650422
97,132,Albuquerque,NM,51.15,35.084386,-106.650422
98,132,Albuquerque,NM,51.15,35.084386,-106.650422
99,132,Albuquerque,NM,51.15,35.084386,-106.650422

In [60]:
happiness_cities_full["DateUTC"] = dateUTC * 182

In [61]:
happiness_cities_full.head(100)

,Overall Rank (1=Best),City,State,Total Score,Lat,Lng,DateUTC
0,168,Akron,OH,44.05,41.081445,-81.519005,1541134800
1,168,Akron,OH,44.05,41.081445,-81.519005,1541221200
2,168,Akron,OH,44.05,41.081445,-81.519005,1541307600
3,168,Akron,OH,44.05,41.081445,-81.519005,1541397600
4,168,Akron,OH,44.05,41.081445,-81.519005,1541484000
5,168,Akron,OH,44.05,41.081445,-81.519005,1541570400
6,168,Akron,OH,44.05,41.081445,-81.519005,1541656800
7,168,Akron,OH,44.05,41.081445,-81.519005,1541743200
8,168,Akron,OH,44.05,41.081445,-81.519005,1541829600
9,168,Akron,OH,44.05,41.081445,-81.519005,1541916000
10,168,Akron,OH,44.05,41.081445,-81.519005,1542002400
11,168,Akron,OH,44.05,41.081445,-81.519005,1542088800
12,168,Akron,OH,44.05,41.081445,-81.519005,1542175200
13,168,Akron,OH,44.05,41.081445,-81.519005,1542261600
14,168,Akron,OH,44.05,41.081445,-81.519005,1542348000
15,168,Akron,OH,44.05,41.081445,-81.519005,1542434400
16,168,Akron,OH,44.05,41.081445,-81.519005,1542520800
17,168,Akron,OH,44.05,41.081445,-81.519005,1542607200
18,168,Akron,OH,44.05,41.081445,-81.519005,1542693600
19,168,Akron,OH,44.05,41.081445,-81.519005,1542780000
20,168,Akron,OH,44.05,41.081445,-81.519005,1542866400
21,168,Akron,OH,44.05,41.081445,-81.519005,1542952800
22,168,Akron,OH,44.05,41.081445,-81.519005,1543039200
23,168,Akron,OH,44.05,41.081445,-81.519005,1543125600
24,168,Akron,OH,44.05,41.081445,-81.519005,1543212000
25,168,Akron,OH,44.05,41.081445,-81.519005,1543298400
26,168,Akron,OH,44.05,41.081445,-81.519005,1543384800
27,168,Akron,OH,44.05,41.081445,-81.519005,1543471200
28,168,Akron,OH,44.05,41.081445,-81.519005,1543557600
29,168,Akron,OH,44.05,41.081445,-81.519005,1543644000
...,...,...,...,...,...,...,...
70,132,Albuquerque,NM,51.15,35.084386,-106.650422,1542002400
71,132,Albuquerque,NM,51.15,35.084386,-106.650422,1542088800
72,132,Albuquerque,NM,51.15,35.084386,-106.650422,1542175200
73,132,Albuquerque,NM,51.15,35.084386,-106.650422,1542261600
74,132,Albuquerque,NM,51.15,35.084386,-106.650422,1542348000
75,132,Albuquerque,NM,51.15,35.084386,-106.650422,1542434400
76,132,Albuquerque,NM,51.15,35.084386,-106.650422,1542520800
77,132,Albuquerque,NM,51.15,35.084386,-106.650422,1542607200
78,132,Albuquerque,NM,51.15,35.084386,-106.650422,1542693600
79,132,Albuquerque,NM,51.15,35.084386,-106.650422,1542780000
80,132,Albuquerque,NM,51.15,35.084386,-106.650422,1542866400
81,132,Albuquerque,NM,51.15,35.084386,-106.650422,1542952800
82,132,Albuquerque,NM,51.15,35.084386,-106.650422,1543039200
83,132,Albuquerque,NM,51.15,35.084386,-106.650422,1543125600
84,132,Albuquerque,NM,51.15,35.084386,-106.650422,1543212000
85,132,Albuquerque,NM,51.15,35.084386,-106.650422,1543298400
86,132,Albuquerque,NM,51.15,35.084386,-106.650422,1543384800
87,132,Albuquerque,NM,51.15,35.084386,-106.650422,1543471200
88,132,Albuquerque,NM,51.15,35.084386,-106.650422,1543557600
89,132,Albuquerque,NM,51.15,35.084386,-106.650422,1543644000
90,132,Albuquerque,NM,51.15,35.084386,-106.650422,1543730400
91,132,Albuquerque,NM,51.15,35.084386,-106.650422,1543816800
92,132,Albuquerque,NM,51.15,35.084386,-106.650422,1543903200
93,132,Albuquerque,NM,51.15,35.084386,-106.650422,1543989600
94,132,Albuquerque,NM,51.15,35.084386,-106.650422,1544076000
95,132,Albuquerque,NM,51.15,35.084386,-106.650422,1544162400
96,132,Albuquerque,NM,51.15,35.084386,-106.650422,1544248800
97,132,Albuquerque,NM,51.15,35.084386,-106.650422,1544335200
98,132,Albuquerque,NM,51.15,35.084386,-106.650422,1544421600
99,132,Albuquerque,NM,51.15,35.084386,-106.650422,1544508000

In [62]:
happiness_cities_full["Summary"] = ""
happiness_cities_full["Icon"] = ""
happiness_cities_full["Sunrise Time"]= ""
happiness_cities_full["Sunset Time"] = ""
happiness_cities_full["Cloud Cover"] = ""
happiness_cities_full["UV Index"] = ""
happiness_cities_full.head()

,Overall Rank (1=Best),City,State,Total Score,Lat,Lng,DateUTC,Summary,Icon,Sunrise Time,Sunset Time,Cloud Cover,UV Index
0,168,Akron,OH,44.05,41.081445,-81.519005,1541134800,,,,,,
1,168,Akron,OH,44.05,41.081445,-81.519005,1541221200,,,,,,
2,168,Akron,OH,44.05,41.081445,-81.519005,1541307600,,,,,,
3,168,Akron,OH,44.05,41.081445,-81.519005,1541397600,,,,,,
4,168,Akron,OH,44.05,41.081445,-81.519005,1541484000,,,,,,

In [63]:
from config import darkskykey

In [64]:
url = "https://api.darksky.net/forecast"



for index, row in happiness_cities_full.iterrows():
    #     get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    time = row["DateUTC"]
    query_url = f"{url}/{darkskykey}/{lat},{lng},{time}?"
    data = requests.get(query_url).json()
 
    try:  
        happiness_cities_full.loc[index, "Summary"] = (data["daily"]["data"][0]["summary"])
        happiness_cities_full.loc[index, "Icon"] = (data["daily"]["data"][0]["icon"])
        happiness_cities_full.loc[index, "Sunrise Time"] = (data["daily"]["data"][0]["sunriseTime"])
        happiness_cities_full.loc[index, "Sunset Time"] = (data["daily"]["data"][0]["sunsetTime"])
        happiness_cities_full.loc[index, "Cloud Cover"] = (data["daily"]["data"][0]["cloudCover"])
        happiness_cities_full.loc[index, "UV Index"] = (data["daily"]["data"][0]["uvIndex"])
    except KeyError: 
        print("Not Available")

In [65]:
happiness_cities_full.to_csv("Happiness_Cities_Weather_Nov-Dec.csv", index=False)

In [67]:
happiness_cities_1 = pd.read_csv("Happiness_Cities_Weather_Jan-Mar.csv")
happiness_cities_2 = pd.read_csv("Happiness_Cities_Weather_Mar-April.csv")
happiness_cities_3 = pd.read_csv("Happiness_Cities_Weather_May-June.csv")
happiness_cities_4 = pd.read_csv("Happiness_Cities_Weather_July-Aug.csv")
happiness_cities_5 = pd.read_csv("Happiness_Cities_Weather_Sept-Oct.csv")
happiness_cities_6 = pd.read_csv("Happiness_Cities_Weather_Nov-Dec.csv")

In [73]:
yearly_weather = pd.concat([happiness_cities_1, happiness_cities_2, happiness_cities_3, happiness_cities_4, happiness_cities_5, happiness_cities_6])
yearly_weather.to_csv("Happiness_Cities_Weather_2018.csv")